*{
  padding: 0px;
  margin: 0px;
}

body{
  font-family: 'Tahoma', sans-serif;
  background: url("../img/bkground.png");
}

a{
  text-decoration: none;
}

li{
 list-style:none;
}

ul{
  display: block;
}

.clearfix{
  clear: both;
}

.topDiv{
  margin: 0 auto;
  width: 1000px;
  height: 175px;
  background: white;
  margin-top: 38px;
  box-shadow: 0 0 10px black;
}

/*  LOGO */
.logo{
  float: left;
  width: 308px;
  height: 164px;
  background: url('../img/logo.png');
}

.logoText{
  display: block;
  padding: 110px 0 40px 100px;
  font-size: 12px;
  color: #128aa7;
}

.leftBlock{
  float: right;
}

/* Contacts */
.contact{
  margin-left: 260px;
  margin-top: 8px;
  margin-right: 31px;
  font-size: 12px;
  color: #128aa7;
}

h3{
  font-family: bold;
}
.contact p{
  padding-top: 5px;
}

/* Countrys */
.countrys{
  margin-right: 35px;
  margin-top: 30px;
}

.countrys li{
  display: inline-block;
}

.country{
  display: block; 
  width: 60px;
  height: 12px;
  text-align: center;
  font-size: 10px;
  text-decoration: underline;
  color :#128aa7; 
  padding-top:45px;
}

.india{
  background: url('../img/india.png') no-repeat;
}

.nepal{
  background: url('../img/nepal.png') no-repeat;
}

.tibet{
  background: url('../img/tibet.png') no-repeat;
}

.butan{
  background: url('../img/butan.png') no-repeat;
}

.lanka{
  background: url('../img/lanka.png') no-repeat;
}

.maldivi{
  background: url('../img/maldivi.png') no-repeat;
}

/*  IMAGE */

.imgDiv{
  margin: 0 auto;
  margin-top: 1px;
  width: 1000px;
  height: 237px;
  background: url('../img/image.png');
  box-shadow: 0 0 10px black;
}

/*  Main menu  */
.mainDiv{
  margin: 0 auto;
  margin-top: 1px;
  width: 1000px;
  height: 25px;
  background: #303030;
  border: 1px solid black;
  box-shadow: 0 0 10px black;
}

ul.menu > li {
    float: left;
    position: relative;
}

ul.menu > li > a {
    display: block;
    padding: 4px 32px 4px 32px;
    color: white;
    font-size: 14px;
    background-color: #303030; 
}

ul.submenu {
    display: none;
    position: absolute;
    color: white;
    font-size: 14px;
    margin-left: 25px;
    background-color: #303030;
}
ul.submenu > li {
    display: block;
}
ul.submenu > li > a {
    display: block;
    padding: 5px 32px 5px 10px;
    color: white;
    background-color: #303030;
}
ul.submenu > li > a:hover {
    text-decoration: underline;
}

ul.menu > li:hover > ul.submenu {
    display: block;
}

/* CONTENT */

.content{
  margin: 0 auto;
  background: url('../img/column.png');
  box-shadow: 0 0 10px black;
  width: 1000px;
  height: 546px;
}

h2{
  padding-top: 7px;
  color: #333333;
  font-size: 18px;
  text-align: center;
}

.pText{
  line-height: 24px;
  padding-top: 5px;
}

.leftCol{
  width: 210px;
  height: 545px;
  float: left;
  font-size: 14px;
  text-align: center;
  color: #333333;
  border-right: 1px grey solid;
}
.rightCol{
  width: 210px;
  height: 545px;
  float: left;
  font-size: 14px;
  text-align: center;
  color: #333333;
  border-left: 1px grey solid;
}

.midCol{
  width: 576px;
  height: 545px;
  float: left;
}

/* Footer  */
.footer{
  padding: 8px;
  text-align: center;
  font-size: 12px;
  color: white;
}