*{
  padding: 0px;
  margin: 0px;
}

body{
 /* font-family: 'Tahoma', sans-serif;
  background: url("../img/bkground.png");*/
}


.mainDiv{
  margin: 0 auto;
  width: 500px;
  height: 500px;
  background: red;
  margin-top: 38px;
  border: solid 1px #cecece;
  box-shadow: 0 0 10px grey;*/

}

.mainMenu li{

  display: inline-block;
}

.menu{
  width: 500px;
  height: 30px;
  background: yellow;
}


li{
  list-style: none;
}

a{
  text-decoration: none;
  padding: 20px;
  border: 2px solid black;
}