*{
	margin: 0px;
	padding: 0px;
}

body{
	background: #f9f9f9;
	font-family: 'Open Sans', sans-serif;
}

a{
	text-decoration: none;
	font-size: 14px;
}

.mainDiv{
		background: #ffffff;
		margin: 0 auto;
		width: 1060px;
		height: 950px;
		border: solid 1px #cecece;
		box-shadow: 0 0 10px grey;
}

.headerDiv{
	margin-left: 46px;
}

.menuDiv{
	width: 969px;
	height: 41px;
	margin-left:46px;
	background: linear-gradient(90deg,  #444343, #5e5e5e);
}

.main{
	width: 969px;
	height: 650px;
	margin: 0px 46px;
}

li{
 list-style:none;
}
 
.a_menu{
	padding: 10px 35px;
	color: white;
	border: 1px rgba(255,255,255,0) solid ;
}

.menu li{
 	padding-top: 11px;
 	display: inline-block;
	font-size: 14px;
	color: white;
}

.a_menu:hover{
	background: linear-gradient(90deg,  #4a4a4a, #2e2e2e);
	border-left: 1px #838383 solid;
	border-right: 1px #838383 solid;
}

.leftList{
	float: left;
	width: 240px;
	height: 240px;
	margin: 36px 0px;
}

.rightList{
	float: right;
}
 
.a_leftMenu{
	padding:8px 35px;
	border: 1px #c8c8c8 solid;
	color: #2c2c2c;
	display:block;	
}

.a_leftMenu:hover{
	background: #f9f9f9;
	padding-left: 50px;
	padding-right: 65px;
}

.borderDiv{
	width: 677px;
	height: 401px;
	border: 1px #c8c8c8 solid;
	text-align: center;
	/*margin-right: 0px;*/
	margin-top: 36px;
}

.underImg{
	width: 677px;
	height: 208px;
	margin-top: 40px;
}

.textUnderImg{
	padding-left: 25px;
	padding-right: 25px;
	font-size: 13.33px;
	color: #2c2c2c;	
}

.footerDivLeft{
	width: 700px;
	height: 41px;
	margin-left:46px;
	background: #e1e1e1;
	float: left;
}

.a_menu_down{
	padding:  12px 35px 11px 35px;
	color: #2c2c2c;
}

.footerLi li{
 	padding-top: 13px;
 	display: inline-block;
	font-size: 14px;
	
}

.a_menu_down:hover{
	text-decoration: underline;
}

.footerDivRight{
	width: 269px;
	height: 41px;
	margin-right:45px;
	background: #e1e1e1;
	float: right;
}
.text{
	font-size: 14px;
	padding: 12px 0;
	margin-right: 20px;
	text-align: right;
}
