*{
  padding: 0px;
  margin: 0px;
}

body{
  font-family: arial, sans-serif;
}

.wrapper{
  height: 1311px;
  width: 907px;
  margin: 0 auto;
}

a{
  color: black;
  text-decoration: none;
}


li{
 list-style:none;
}

table{
  text-align: center;
}

.clearfix{
  clear: both;
}

select{
  height: 14px;
  width: 100px;
  color: #003366;
}


.loginHeader{
  float: left;
  margin-top: 20px;
  margin-left: 2px;
  height: 28px;
  width: 907px;
/*  background: yellow;*/
}

.n_tel{

  letter-spacing:0.7px;
  font-size: 18px;
  color: #666666;
}

.telefon{
  width: 300px;
  height: 28px;
  float: left;
  padding-left: 28px;
  background: url("../img/telefon.png") no-repeat;
  line-height: 28px;
}

.login_img{
  margin: 5px;
}

.login{
  float: left;
  margin-left: -17px;
  margin-top: -2px;
  width: 496px;
  height: 28px;
  background: linear-gradient(to top, #003366, #336699);
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(153,153,153,1);
  /*background: url("../img/login.png") no-repeat;*/
}

.login_form li{
  float: left;
}

.a_login_form{
  margin-right: 3px;
  text-decoration: none;
  color: white;
  line-height: 28px;
  font-size: 11px;
  font-family: "Lucida Sans Unicode", sans-serif; 
}

[type="text"]{
  border: 1px #999999;
  /*box-shadow: 0 2px 5px grey;*/
}

.separator{
  color: white;
  font-size: 11px;
  line-height: 26px;
  margin-right: 5px;
}

.password{
  margin-left: 15px;
  color: #cccccc;
  text-decoration: underline;
  line-height: 26px;
  font-size: 12px;
  font-family: "Lucida Sans Unicode", sans-serif; 
}

input::-webkit-input-placeholder{
  padding-left: 5px;
  line-height: 16px;
  font-family: "Lucida Sans Unicode", sans-serif; 
  font-size: 11px;
  color: #999999;
}

.login_text{
  margin-top: 5px;
  margin-right: 7px;
  width: 114px;
  height: 16px;
  border: none;
  border-radius: 3px;
}

.login_text:focus{
  border-radius: 3px;
}

.site_map{
  margin-bottom: 3px;
  margin-left: 14px;
  padding-left: 5px;
  float: left;
  width: 81px;
  height: 25px;
  background: url("../img/site_map.png") no-repeat;
}

.site_map ul li{
  float: left;
}

.a_site_map{
  margin: 3px 0px 0 5px;
  padding: 0 3px 0 3px; 
  display: block;
  width: 10px;
  height: 15px;
  /*background: rgba(0,255,0,0.3);*/
}

/* ********* LOGO ************ */

.logo{
  margin-top: 7px;
  display: block;
  height: 236px;
  width: 906px;
  background: url("../img/logo.png") no-repeat;
}

/* ********* MAIN MENU ************ */

.main_menu li{
 /* display: inline-block;*/
 float: left;
}
.main_menu{
  margin-left:128px; 
}

.menu{
  margin-top: 7px;
  margin-left: -2px;
  width: 909px;
  height: 33px;
  background: linear-gradient(to top, #000000, #000000, #000000, #000000, #666666);
  box-shadow: 0 0 5px #000;
  border:1px solid #000033;
  border-radius: 5px;
  /*background: url("../img/menu.png") no-repeat;*/
}

.main_menu li a{
  margin-top: 3px;
  padding: 3px 16px;
  display: block;
  text-decoration: none;
  color: #99cccc;
  font-size: 14px;
  font-family: "Lucida Sans Unicode", sans-serif; 
  /*line-height: 28px;*/
  letter-spacing: 0.1px;
}

.main_menu li a:hover{
  margin-top: 3px;
  padding: 3px 16px; 
  background:linear-gradient(to top,  #336699,  #336699, #003366);
  border-radius: 20px;
  color: white;
  letter-spacing: 0.1px;
}

#menu_next{
  padding: 3px 14px 3px 15px; 
}

#menu_next:hover{
  padding: 3px 14px 3px 15px; 
}

.price{
  margin-top: 7px;
  margin-right: -4px;
  float: right;
  width: 230px;
  height: 24px;
}

.basket{
  letter-spacing: 0.5px;
  float: left;
  display: block;
  padding-top: 2px;
  padding-bottom: 9px;
  padding-left: 27px;
  text-decoration: none;
  font-size: 11px;
  color: #999999;
  background: url("../img/basket.png") no-repeat;
}

.summa{
  letter-spacing: 0.5px;
  float: left;
  display: block;
  padding-top: 2px;
  padding-bottom: 9px;
  padding-left: 15px;
  text-decoration: none;
  font-size: 11px;
  color: #999999;

}

.numbers1{
  text-decoration: none;
  font-size: 12px;
  color: #006699;
}

.numbers2{
  text-decoration: none;
  font-size: 12px;
  color: #006699;
  padding-left: 7px;
}


/* ********** SEARCH WINDOWS ********** */

.search{
  width: 907px;
  height: 130px;
  margin-top: 10px;
}

.search_car{
  margin-left: 3px;
  margin-top: 3px;
  font-family: "arial black", sans-serif;
  letter-spacing: 0.5px;
  float: left;
  width: 414px;
  height: 130px;
  border: 1px grey;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(153,153,153,1);
}

.search_bus{
  float: left;
  width: 193px;
  height: 131px;
  margin-top: 3px;
  margin-left: 14px;
  border: 1px grey;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(153,153,153,1);
}

.search_disc{
  float: left;
  width: 266px;
  height: 130px;
  margin-top: 3px;
  margin-left: 13px;
  border: 1px grey;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(153,153,153,1);
}

/*.auto_left{
  padding-left: 20px;
  padding-top: 1px;
  font-size: 10px;
  font-weight: bold;
  color: #003366;
}

.auto_right{
  padding-left: 66px;
  font-size: 10px;
  font-weight: bold;
  color: #003366;
}

.auto_mid{
  padding-left: 63px;
  font-size: 12px;
  font-weight: bold;
  color: #003366;
}

.auto_mid div{
  padding-top: -2px;
}

.Arial_10{
  font-family: "arial", sans-serif;
  letter-spacing: 0.5px;
  font-size: 10px;
  color: black;
}

.Arial_8{
  font-family: "arial", sans-serif;
  letter-spacing: 0.5px;
  font-size: 8px;
  color: #669999;
}

.search_auto_left{
  float: left;
  height: 91px;
  width: 183px;  
  margin-left: 20px;
  background: rgba(0,255,0,0.5);
}

.line1{
  float: left;
}

.line2{
  float: left;
}


.search_disc_p1{
  float: left;
}

.search_disc_p2{
  float: right;
}
*/


/* ********** MAIN CONTENT ********** */

.left{
  float: left;
}

.right{
  float: right;
}

.main_content{
  margin: 15px auto;
  width: 526px;
  height: 626px;
  background: linear-gradient(to top,  #336, #ccc, #ccc);
  border-radius: 5px;
  border: 1px solid grey;
}

.one_column{
  float: left;
}

.one_block{
  margin-left: 10px;
  margin-top: -2px;
  height: 205px;
  width: 166px;
  text-align: center;
}

.second_block{
  margin-left: 2px;
  margin-top: -2px;
  height: 205px;
  width: 166px;
  text-align: center;
}

/*.block_wheel{
  display: block;
}
*/
.image_wheel{
  width: 136px;
  height: 128px;
  background: white;
  border: 1px grey;
  border-radius: 10px;
  margin: -1px 23px 3px 12px
}

.name_brend{
  padding-top: 14px;
  font-size: 15px;
  font-family: "Lucida Sans Unicode", sans-serif; 
  color: #336699;
}

.name_wheel{
  margin-top: -9px;
  color: #333333;
  font-size: 13px;
  font-family: "Lucida Sans Unicode", sans-serif; 
}

.price_wheel{
  margin-top: 0px;
  font-size: 16px;
  font-family: "arial", sans-serif; 
  font-weight: bold;
  font-style: italic;
  color: #336699;
}

.grn{
  font-size: 12px;
  padding-left: 7px;
}

/*  **** left sidebar  **** */
.catalog{
  margin-top: 22px;
  width: 182px;
  height: 24px;
  border: 1px #003366;
  border-radius: 30px;
  box-shadow: 0px 2px 5px #003366;
  
}
.catalog a{
  display: block;
  margin: 5px 0 0 1px;
  padding: 3px 0 0 23px;
  letter-spacing: 0.1px;
  font-size: 13px;
  font-family: "Lucida Sans Unicode", sans-serif; 
  color: #003366;
  text-decoration: none;
  /*line-height: 26px;*/
  background: url("../img/file.png") no-repeat;
  vertical-align: middle;
}

.brend{
  margin-top: 20px;
  width: 182px;
  height: 24px;
  border: 1px #003366;
  border-radius: 30px;
  box-shadow: 0px 2px 5px #003366;
  
}

.brend a{
  display: block;
  margin: 5px 0 0 1px;
  padding: 2px 0 2px 30px;
  letter-spacing: 0.1px;
  font-size: 13px;
  font-family: "Lucida Sans Unicode", sans-serif; 
  color: #003366;
  text-decoration: none;
  /*line-height: 26px;*/
  background: url("../img/file.png") no-repeat;
  vertical-align: middle;
}

.circle{
  margin-top: 14px;
  width: 147px;
  height: 27px;
  border: 1px #003366;
  border-radius: 30px;
  box-shadow: 1px 1px 5px #003366;
}

.circle a{
  margin-left: 5px;
  display: block;
  padding-left: 23px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 13px;
  font-family: "Lucida Sans Unicode", sans-serif; 
  color: #003366;
  text-decoration: none;
  background: url("../img/circle.png") no-repeat; 
  vertical-align: middle;
}


.circle_right{
  margin-top: 16px;
  margin-left: 15px;
  width: 135px;
  height: 27px;
  border: 1px #003366;
  border-radius: 30px;
  box-shadow: 1px 1px 5px #003366;
}

.circle_right a{
  margin-left: 5px;
  display: block;
  padding-left: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 13px;
  font-family: "Lucida Sans Unicode", sans-serif; 
  color: #003366;
  text-decoration: none;
  background: url("../img/circle.png") no-repeat; 
  vertical-align: middle;
}

#discs{
  margin-top: 6px;
  margin-left: 11px;
}

#discs a{
  padding-left: 27px;
}

#no_margin{
  margin-top: -1px;
}

.name{
  margin-top: 2px;
}

#minus_margin{
  margin-top: -1px;
}

.name li{
  margin-left: 35px;
}

.name li a{
  display: block;
  padding-left: 10px;
  text-decoration: none;
  background: url("../img/marker.png") no-repeat; 
  line-height: 26px;
  font-family: "Lucida Sans Unicode", sans-serif; 
  color: #336666;
  font-size: 13px;
}

.name li a:hover{
  color: #003366;
  font-size: 14px;
  font-style: italic;
  font-weight: bold;
  text-decoration: underline;
  background: url("../img/active_marker.png") no-repeat; 
}

.pading_check{
  font-family: "Lucida Sans Unicode", sans-serif; 
  font-size: 13px;
  color: #366;
  padding-left: 12px;
  line-height: 24px;
}

[type="submit"]{
  margin-left: 24px;
  margin-top: 19px;
  color: white;
  font-size: 11px;
  width: 79px;
  height: 23px;
  background: linear-gradient(to top, #036, #036, #369);
  box-shadow: 0 2px 5px #ccc;
  border-radius: 10px;
  border: 1px solid #999;
}

.check{
  margin-top: 7px;
  margin-left: 23px;
}


/* -- Footer -- */
.brends{
  margin-top: 39px;
  text-align: center;
}

.footer{
  margin-top: 22px;
  margin-left: -3px;
  width: 909px;
  height: 101px;
  background: url("../img/footer.png") no-repeat;
}

.down_menu{
  padding-top: 7px;
  margin-left: 301px;
}

.down_menu li{
  float: left;
}

.down_menu li a{
  letter-spacing:0.1px;
  line-height: 16px;
  padding: 0px 10px 0px 10px;
  color: #ccc;
  font-size: 12px;
  text-decoration: none;
  border-left: 1px solid #ccc;
}

.down_menu li:first-child a{
  border: none;
}

.down_menu li a:hover{
  color: #69c;
}

.down_footer{
  color: #633;
  font-size: 10px;
  margin-left: 378px;
  margin-top: 14px;
}