*{
  padding: 0px;
  margin: 0px;
}

body{
  /*font-family: 'League Gothic', arial;
  font-family: 'Open Sans Light', arial;
  font-family: 'Open Sans Extrabold', arial;*/
/*  background: url("../img/bg.jpg") center top no-repeat;
  background-size: cover;*/
}

@font-face {
    font-family: "league_gothic";
    src: url("../fonts/League_Gothic.otf");
    font-weight: normal;
    font-style: normal;
}

/*@import url(https://fonts.googleapis.com/css?family=Open+Sans);*/

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display: block;
}

.clear__both:after{
 content:'';
 display:block;
 clear:both;
}


.top__section{
  background: url("../img/bg.jpg") no-repeat;
  background-size: cover; 
}

.header__bg{
  max-width: 960px;
  margin: 0 auto 50px;
  padding: 0 5px;
  /*overflow: hidden;*/
}

.logo{
  float: left;
  width: 152px;
  height:58px;
  margin-top: 40px;
  background: url("../img/logo.png") no-repeat;
  text-indent: -9999px;
  overflow: hidden;
}

.logo__link{
  display: block;
  height: 100%;
}

.menu{
  float: right;
}

.menu__list{
  margin-top: 68px;
}

.menu__li{
  /*float: left;*/
  list-style: none;
  
}

.menu__link{
  text-decoration: none;
  font-family: "league_gothic";
  font-size: 24px;
  color: white;
  text-shadow:grey 2px 2px 4px;
  padding: 5px 4px 5px 4px;
  margin-right: 3.85%;
  border-bottom: 4px solid rgba(255,255,255,0);
}

.menu__link:hover{
  border-bottom: 4px solid #ffccff;
}

.gallery{
  background: rgba(0,0,0,0.2);
}

.gallery__holder{
  max-width: 960px;
  margin: 0 auto;
  padding: 0 5px;
  /*overflow: hidden;*/
}

.gallery__iphone{
  float: right;
  width: 28.54%;
  margin: -15px 20px 0 30px;
}

.gallery__text{
  padding:82px 0 82px 0;
  overflow: hidden;
  font-family: "league_gothic";
}

.gallery__h1{
  color: white;
  font-size: 60px;
}

.gallery__h2{
  color: #ffccff;
  font-size: 32px;
}

.gallery__h3{
  font-family: "Open Sans Light";
  color: white;
  font-size: 18px;
}

.radio{
  max-width: 960px;
  margin: 0 auto;
}

.radio__white{
  float: right;
  margin: 93px 165px 55px 0;
}

.about__section{
  background: linear-gradient(to top, #322539, #745083);
  height: 338px;
  border-top:2px solid #33253a;
  border-bottom:2px solid #33253a;
}

.abouts{
  max-width: 960px;
  margin: 78px auto;
  padding: 0 5px;
}

.right__about{
  float: left;
  width: 268px;
}

.mid__about{
  float: left;
  width: 268px;
}

.left__about{
  float: left;
  width: 268px;
}

.right__icons{
  float: left;
  width: 28px;
  height: 27px;
  background: url("../img/icons.png") -58px 0;
}

.mid__icons{
  float: left;
  width: 28px;
  height: 27px;
  background: url("../img/icons.png") -29px 0;
}

.left__icons{
  float: left;
  width: 28px;
  height: 27px;
  background: url("../img/icons.png") 0 0;
}

.about__text{
  float: right;
  width: 222px;
  height: 150px;
  overflow: hidden;
}

.h__about{
  font-size: 30px;
  color: white;
  font-family: "league_gothic";
  text-shadow: 1px 1px 2px black;
}

.txt__about{
  font-family: "Open Sans Light";
  color: white;
  font-size: 16px;
  text-shadow: 1px 1px 2px black; 
}

.more__about{
  padding-top:20px; 
  float: right;
  font-size: 18px;
  color: white;
  font-family: "league_gothic";
  text-shadow: 1px 1px 2px black;
  text-decoration: none;
}

.more__about:hover{
  text-shadow: 1px 1px 8px rgba(255,255,255,0.8);
}

.article__section{
  background: #f9f9f9;
  border-bottom: 1px solid white;
}

.wrapper__article{
  max-width: 960px;
  margin: 0 auto;
  padding: 0 5px; 
}

.post__article{
  width: 50%;
  float: left;
}

.bg__post__article{
  height: 294px;
  margin-top: 100px;
  background: url("../img/post.png") no-repeat top;
}

.list__post{
  margin: 32px 0 0 63px;
}

.elem__post{
  list-style: none;
  float: left;
}

.black__link__post{
  text-decoration: none;
  font-family: "league_gothic";
  font-size: 30px;
  color: #454545;
  text-shadow: 0px 0px 1px rgba(255,255,255,1);
}

.pink__link__post{
  text-decoration: none;
  font-family: "league_gothic";
  font-size: 30px;
  color: #edbfff;
  text-shadow: 0px 0px 1px rgba(255,255,255,1);
}

.txt__post__article{
  padding: 17px 70px 0 63px;
  color: #454545;
  font-size: 16px;
  font-family: "Open Sans Light";

}

.radio__black{
  margin: 21px auto;
  width: 85px;
  height: 20px;
  background: url("../img/radio_black.png");
}

.blog__article{
  margin-top: 100px; 
  width: 50%;
  float: right;
}

.line1__blog{
  margin-top: 16px;
  width: 430px;
  height: 49px;
  background: url("../img/blog.png") no-repeat 0 0;
}

.line2__blog{
  margin-top: 16px;
  width: 430px;
  height: 49px;
  background: url("../img/blog.png") no-repeat 0 -50px;
}

.line3__blog{
  margin-top: 16px;
  width: 430px;
  height: 49px;
  background: url("../img/blog.png") no-repeat 0 -101px;
}

.bold__blog{
  text-decoration: none;
  margin-left: 55px;
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 16px;
  color: #454545;
  text-shadow: 0px 0px 1px rgba(255,255,255,1);
}

.light__blog{
  margin-left: 55px;
  font-family: "Open Sans Light";
  font-size: 16px;
  color: #454545;
  text-shadow: 0 0 1px rgba(255,255,255,1);
}

.more__here{
  float: right;
  color: #454545;
  text-decoration: none;
  font-family: "league_gothic";
  font-size: 18px;
  text-shadow: 0px 0px 1px rgba(255,255,255,1);
}

.logos__section{
  border-top: 1px solid #d8d8d8;
  background: #f9f9f9; 
}

.logos__wrapper{
  max-width: 960px;
  margin: 0 auto;
}

.logos__img{
  height: 75px;
  width: 775px;
  margin: 25px auto;  
  background: url("../img/logos.png") no-repeat;
}

.footer__section{
  background: #ececec;
}

.footer__wrapper{
  max-width: 960px;
  margin: 0 auto;
  padding: 0 5px; 
}

.footer__column{
  width: 30%;
  float: left;
  height: 157px;
  overflow: hidden;
}

.pingbuller{

}

.pingbull{
  float: left;
  color: #454545;
  font-family: "league_gothic";
  font-size: 48px;
  text-shadow: 0px 0px 1px rgba(255,255,255,1);
}

.er{
  float: left;
  color: #b9b9b9;
  font-family: "league_gothic";
  font-size: 48px;
  text-shadow: 0px 0px 1px rgba(255,255,255,1);
}

.copyright{
  padding-top: 12px;
  color: #c5c5c5;
  font-family: "Georgia";
  font-style: italic;
  font-size: 16px;
  text-shadow: 0px 0px 1px rgba(255,255,255,1);
}

.footer__text{
  padding-right: 3%;
  padding-top: 12px;
  color: #787878;
  font-family: "Open Sans Light";
  font-size: 16px;
  text-shadow: 0px 0px 1px rgba(255,255,255,1);
}

.footer__h{
  color: #454545;
  font-family: "league_gothic";
  font-size: 30px;
  text-shadow: 0px 0px 1px rgba(255,255,255,1);
}

.footer__menu__bg{
  background: url("../img/footer_bg.jpg") no-repeat;
  background-size: cover; 
}

.footer__menu__wrapper{
  max-width: 960px;
  margin: 0 auto;
  padding: 0 5px; 
}

.footer__menu{
  float: left;
}

.designed{
  float: right;
}

.designed--light{
  float: left;
  font-family: "Open Sans Light";
  font-size: 12px;
  color: white;
  text-shadow: 0px 0px 1px rgba(255,255,255,1);
  font-weight: lighter;
}

.designed--bold{
  float: left;
  font-family: "Open Sans Light";
  font-size: 12px;
  color: white;
  text-shadow: 0px 0px 1px rgba(255,255,255,1);
  font-weight: bold;
}

.footer__menu{
  margin:20px 0 20px 0;
}

.footer__menu__list{
  float: left;
}

.footer__menu__li{
  list-style: none;
}

.footer__menu__link{
  text-decoration: none;
  font-family: "league_gothic";
  font-size: 20px;
  color: white;
  text-shadow: 0px 2px 2px black;
  /*padding: 10px 4px 10px 4px;*/
  margin-right: 3.85%;
}