*{
	margin: 0px;
	padding: 0px;
	font-family: Tahoma, sans-serif;
}

.clearfix{
  clear: both;
}

.container{
	margin: 30px auto;
	padding: 0 50px;
	width: 600px;
}

.box{
	background: #bbb;
	border: 2px solid grey;
	border-radius: 10px 10px;
}

.text{
	font-family: Verdana,Arial,sans-serif;
    font-size: 12px;
    background: #000;
}

p{
	display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

li{
	float: left;
	list-style: none;

}

a{
	display: block;
	text-decoration: none;
	padding: 20px 10px;
	background: #aaa;
	
}