.wrapper{
    width: 800px;
    margin: 90px auto;
}
.carousel-hider {
    width: 600px;
    overflow: hidden;
    float: left;
}

.carousel-list {
    list-style: none;
    width: 10000px;
    padding: 0px;
    position: relative;
}

.carousel-element {
    display: block;
    margin-right: 10px;
    float: left;
}
.carousel-element p{
    text-align: center;
}

.carousel-element img {
    max-width: 200px;
}

.carousel-arrow-left, .carousel-arrow-right {
    float: left;
    display: block;
    border: 1px solid grey;
    background-color: lightgrey;
    padding: 5px;
    margin-top: 60px;
}

.carousel-arrow-left:hover, .carousel-arrow-right:hover {
    cursor: pointer;
    background-color: grey;
}

.carousel-arrow-left {
    margin-right: 25px;
}

.carousel-arrow-right {
    margin-left: 25px;
}

.clearfix{
    clear: both;
}

.img-item{
    max-width: 600px;
}
.img-block{
    text-align: center;

}

h2{
    font-size: 40px;
    text-align: center;
}